body{
    overflow: hidden;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: rgb(245, 237, 216);
}


.oswald-fontclass> {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

#img{
    position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
}

.time{
    position:absolute;
    width:100%;
    height:100%;
    font-size: 100px;
    z-index:0;
    left: 5%;
    top: 10px;
    margin:0px;
}
.hrs{
    text-align: center;
    position: relative;
}
.min{
    text-align: center;
    position: relative;
}
.trans{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}
.center{
    margin: auto;
}

.h1{
    color: rgb(245, 237, 216);
}

.habitList{
    position: absolute;
    top:150px;
    left: 5%;
    z-index: 1;
    width: 25%;
    height: 500px;
    align-items: flex-end;
    color: rgb(245, 237, 216);
}
.habit{
    left: 5%;
    position: relative;
    z-index: 2;
    color: rgb(245, 237, 216);
    opacity: 1;
}
.hab{
    position: relative;
    width: 80%;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 30px;
    background-color: powderblue;
    opacity: 0.5;
}

.check{
    position:relative;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 20pc;
    border: 2px solid rgb(245, 237, 216);
}

.cont{
    position: relative;
    color:black;
    position: relative;
    size: 15px;
    left: 35px;
    bottom: 35px;
}

#pomo{
    z-index: 2;
    position:absolute;
    top: 20px;
    right: 10pc;
    width: 20pc;
    height: 10pc;
    color: rgb(245, 237, 216);
    font-size: 50px;
}

.pomoTime{
    position: relative;
    padding-left: 30%;
    padding-bottom: 10px;
    bottom:10%;
}

button{
    color: rgb(245, 237, 216);
    background-color: rgb(48, 74, 54);
    border: none;
    margin-left: 5px;
}

.btn{
    position: relative;
    left: 30%;
    padding: 10px;
    margin: 0%;
    bottom: 9pc;
    color: rgb(245, 237, 216);
    background-color: rgb(48, 74, 54);
    border: none;
    margin-left: 5px;
    border-radius: 5px;
}

.center{
    top:150px;
    left: 5%;
    position: absolute;
    width: 25%;
    height: 500px;
    background-color: rgb(141, 157, 144);
    opacity: 0.3;
}

.hyperCont{
    z-index: 2;
    position:absolute;
    top: 10px;
    right: 40px;
    background-color: ef;
}

#schedule{
    color: black;
    width: 20pc;
    height: 20pc;
    color: rgb(245, 237, 216);
    position: absolute;
    z-index: 2;
    bottom: 5pc;
    left: 1050px;
}
.scheduleCont{
    width: 40pc;
    height: 20pc;
    z-index: 2;
    position: absolute;
    z-index: inherit;
    bottom: 6pc;
    left: 50pc;
}

.weekBtn{
    position: relative;
    bottom: 10px
}

.WeekHead{
    position: relative;
    color: rgb(245, 237, 216);
    font-size: xx-large;
    bottom: 15px
}

.schedulePara{
    bottom: 40px;
    position: relative;
    left: 10px;
    color:rgb(28, 66, 24)
}

.scheduleLists{
    bottom: 40px;
    position: relative;
    left: 10px;
    color:rgb(28, 66, 24)
}

.weekHead{
    position:relative;
    top: 10px;
    left: 20px;
    font-size: 30px;
}

.eventConst{
    position: relative;
    z-index: 2;
    bottom: 5pc;
    left: 1050px;
    width: 300px;
    height: 200px;
    display:block;
    left: 742px;
    bottom: 250px;
    
}

.schedName{
    position: relative;
    left: 10px;
}

.schedEvtDec{
    position: relative;
    z-index: 1;
    bottom: 5pc;
    left: 1050px;
    color: black;
    width: 300px;
    height: 200px;
    left: 742px;
    bottom: 475px;
    background-color: rgb(141, 182, 228);
    opacity:0.3;
    border-radius: 5px;
}

input{
    margin-bottom: 10px;
    margin-top: 10px;
}

.schedTime{
    color: rgb(201, 220, 224);
    position: absolute;
    left: 100px;
}

.schedDesc{
    display:none;
}

.sched{
    padding-bottom: 5px;
    height:25px;
    background-color: rgb(45, 117, 84);
    width: 280px;
    position: relative;
    left: 20px;
}

#evtInfo{
    width:100px;
    height:100px;
    background-color: white;
    position:relative;
    top: 20px;
    right:10pc;
    display:none;
}

.schedTime{
    height:20px;
    position: relative;
    left:14pc;
    bottom: 40px;
}

.closeInfo{
    position: absolute;
    top: 0px;
    right:110px;
}

.motiv{
    position:absolute;
    width:40%;
    height:100%;
    font-size: 30px;
    z-index:0;
    left: 350px;
    top: 40px;
    margin:0px;
}

.pomoDec{
    z-index: 1;
    position:absolute;
    top: 20px;
    right: 10pc;
    width: 20pc;
    height: 10pc;
    color: black;
    font-size: 50px;
    background-color: rgb(141, 157, 144);
    opacity:0.3;
    border-radius: 10px;
}

.schedDec{
    border-radius: 10px;
    color: black;
    width: 20pc;
    height: 20pc;
    background-color: rgb(141, 157, 144);
    position: absolute;
    z-index: 1;
    bottom: 5pc;
    left: 1050px;
    opacity:0.3;
    
}

.yes{
    z-index: 5;
    position: relative;
    width: 400px;
    height: 460px;
    left: 20px;
    top: 20px
}

.frameholder{
    width:440px;
    height:500px;
    background-color: rgb(245, 237, 216);
    position:relative;
    bottom:610px;
    left:525px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.flask{
    width:100pc;
    height:100pc;
}

.tablinks{
    position:relative;
    bottom:610px;
    left:520px;
    padding:10px;
    padding-left: 40px;
    padding-right:40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}